<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mist heroes</title>
</head>

<body>
  <h1 th:text="${info}" />

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Rang</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="hero: ${heroes}">
        <th scope="row" th:text="${hero.getId()}" />
        <td th:text="${hero.getName()}" />
        <td th:text="${hero.getRang()}" />
      </tr>
    </tbody>
  </table>

  <a href="/webapp/konoha/heroes">Konoha heroes</a>
</body>

</html>